body {
	--bgcolor: #181b2c;
	background-color: var(--bgcolor);
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	padding: 0px;
	background: url(./images/indiacolor.svg) no-repeat center;
	background-color: --bgcolor;
	font-weight: 400;
	letter-spacing: 1.2px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
}

button {
	align-self: flex-start;
	background-color: #fff;
	border-style: none;
	padding: 5px;
	border-radius: 10px;
	width: 50px;
}

button:hover {
	background-color: #ccc;
}
